/nbproject/private/
/build/
/dist/
/bin/MyPlugin/nbproject/private/
/bin/MyPlugin/build/
/bin/MyPlugin/dist/
/MyPlugin/build/
/MyPlugin/dist/
/MyPlugin/nbproject/private/
/bin/Mon_test/nbproject/private/
/bin/Mon_test/build/
/bin/Mon_test/dist/
/bin/Mon_Test/nbproject/private/
/bin/Mon_Test/build/
/bin/Mon_Test/dist/